.about {
  text-align: center;

  .cardList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 0;
  }

  .aboutHeading {
    color: rgb(161, 151, 37);
    font-family: Roboto-Black;
    margin-top: 32px;
    margin-bottom: 20px;
    font-weight: 400;
  }
}

.ourTeam {
  text-align: center;
  padding: 32px 0;

  .ourTeamHeading {
    font-family: Roboto-Bold;
  }

  .teamCards {
    display: flex;
  }
}

@media screen and (max-width: 900px) {
  .about {
    .cardList {
      flex-direction: column;
      align-items: center;
    }
  }

  .ourTeam {
    padding: 0;

    .teamCards {
      flex-wrap: wrap;
    }
  }
}
