.cartContainer {
  padding: 16px;

  .cartTitle {
    color: #feba10;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 124%;
  }

  .cartBox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .cartSummary {
      flex: 1;

      .itemsTitle {
        color: #191919;
        font-family: Outfit;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 124%;
      }
      
      
    }

    .otherSection {
      .headingStyle {
        font-family: Outfit-SemiBold;
        color: #191919;
        margin-bottom: 8px;
      }

      .couponSection {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 8px;
        margin-bottom: 16px;
      }

      .addressSection {
        min-width: 240px;
      }
    }
  }

  
}
