.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .optionMain {
    display: inline-flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    border: none;

    &:first-child {
      padding-left: 0;
      border-bottom: 2px solid #ffdb81;
    }

    .option {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .optionText {
      color: #feba10;
      font-size: 1.25rem;
      font-family: Helvetica;
      font-style: normal;
      font-weight: 400;
      line-height: 1.875rem;
      padding: 4px;
    }

    .inactivetext {
      color: #939393;
      font-size: 1.25rem;
      font-family: Helvetica;
      font-style: normal;
      font-weight: 400;
      line-height: 1.875rem;
      padding: 4px;
    }
  }

  .cart {
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 0.50rem;

    border-radius: 12.5rem;
    border: 1px solid #ffc943;
    background: #fceec0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    justify-self: flex-end;

    .cartText {
      font-family: Outfit-SemiBold;
    }

    &:hover {
      background: rgb(240, 240, 240);
    }
  }
}

@media screen and (max-width: 1400px) {
  .bar {
    justify-content: space-between;
    .optionMain {
      .option {
        /* padding: 0px 12px; */
      }

      .optionText {
      }

      .divider {
      }
    }
    .bookCook {
      .bookCookText {
      }
    }

    .cart {
    }
  }
}

@media screen and (max-width: 600px) {
  .bar {
    .optionMain {
      .optionText {
        font-size: 1rem;
      }

      .divider {
        width: 9rem;
      }
    }
  }
}
