.bar {
  display: flex;
  /* padding: 0rem 12rem; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .optionMain {
    display: inline-flex;
    padding: 1rem 1rem 1rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 0.675rem;

    .option {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .optionText {
      color: #feba10;
      font-size: 1.25rem;
      font-family: Helvetica;
      font-style: normal;
      font-weight: 400;
      line-height: 1.875rem;
      padding: 4px;
    }
  }

  .divider {
    height: 0.125rem;
    border-radius: 0.4375rem;
    background: #ffdb81;
  }
  .bookCook {
    display: inline-flex;
    padding: 0.1875rem 0rem 0.0625rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 0.6875rem;

    .bookCookText {
      color: #757575;
      font-size: 1.25rem;
      font-family: Outfit;
      font-style: normal;
      font-weight: 400;
      line-height: 1.875rem;
    }
  }

  .cart {
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
    gap: 0.25rem;

    border-radius: 12.5rem;
    border: 1px solid #ffc943;
    background: #fceec0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    justify-self: flex-end;
  }
}

@media screen and (max-width: 1400px) {
  .bar {
    justify-content: space-between;
    .optionMain {
      .option {
        /* padding: 0px 12px; */
      }

      .optionText {
      }

      .divider {
      }
    }
    .bookCook {
      .bookCookText {
      }
    }

    .cart {
    }
  }
}

@media screen and (max-width: 600px) {
  .bar {
    .optionMain {
      .optionText {
        font-size: 1rem;
      }

      .divider {
        width: 9rem;
      }
    }
  }
}
