.chefCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .chefImg {
    width: 10.08481rem;
    height: 10.08481rem;
    border-radius: 11.00163rem;
    border: 4.8px solid #15ca6a;
    background: url(<path-to-image>), lightgray -50.118px -893.574px / 545.455% 1212.121% no-repeat;
  }
  
  .chefName {
    color: #393939;
    font-family: Outfit;
    font-size: 1.5rem !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .review {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: Outfit;
    font-size: 1.2rem !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
    .rating {
      color: #393939;
      text-align: center;
      margin-right: 4px;
    }
  }
}
