.head {
  display: flex;
  height: 5.25rem;
  padding: 0.9375rem 12rem 0.9375rem 12rem;
  align-items: center;
  background: #f6f6f6;
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;

    .logo {
      width: 7.3rem;
      height: 3.06763rem;
    }

    .find {
      display: flex;
      width: 44rem;
      padding: 0.0625rem;
      justify-content: center;
      align-items: center;

      .placeBtn {
        width: 15rem;
        height: 3.25rem;

        .placeLogo {
          width: 1.125rem;
          height: 1.125rem;
        }

        .place {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          border-radius: 0.5rem;

          .placeName {
            color: #191919;
            font-size: 0.875rem;
            font-family: Outfit-SemiBold;
          }

          .placeArea {
            color: #757575;
            font-size: 0.875rem;
            font-family: Outfit;
          }
        }
      }

      .inputField {
        display: flex;
        width: 28.75rem;
        height: 3.25rem;
        padding-left: 0px;
        justify-content: flex-end;
        align-items: center;
        gap: 0.745rem;
      }
    }

    .checkin {
      display: flex;
      align-items: flex-start;
      gap: 2.25rem;

      .checkinBtn {
        color: #191919;
      }
    }
  }
}
