.head {
  display: flex;
  padding: 0.9375rem 12rem 0.9375rem 12rem;
  align-items: center;
  background: #f6f6f6;
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;

    .logo {
    }

    .find {
      display: flex;
      width: 44rem;
      padding: 0.0625rem;
      justify-content: flex-start;
      align-items: center;

      .placeBtn {
        flex: 1;
        .placeLogo {
        }

        .place {
          text-align: left;
          border-radius: 0.5rem;

          .placeName {
            color: #191919;
            font-size: 0.875rem;
            font-family: Outfit-SemiBold;
          }

          .placeArea {
            color: #757575;
            font-size: 0.875rem;
            font-family: Outfit;
          }
        }
      }

      .inputField {
        display: flex;
        align-items: center;
        gap: 0.745rem;
        flex: 2;
        padding-right: 20px;
      }
    }

    .checkin {
      display: flex;
      align-items: flex-start;
      gap: 2.25rem;

      .checkinBtn {
        color: #191919;
      }
    }
  }
}

@media screen and (max-width: 600px) {
}
