.head {
  background: #f6f6f6;
  height: 5.25rem;
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 52px;
    padding-top: 16px;

    .find {
      display: flex;
      flex-direction: row;

      .place {
        max-height: 52px;
        padding-right: 16px;
      }

      .inputField {
        padding: 16px;
        flex: 2;
      }
    }

    .logo {
      height: 50px;
      width: 118px;
      padding-right: 36px;
    }
  }
}
