.blog {
  text-align: center;
  padding-bottom: 20px;

  .blogHeading {
    color: rgb(161, 151, 37);
    font-family: Roboto-Black;
    margin-top: 32px;
    margin-bottom: 20px;
  }

  .post {
    width: 80%;
    height: 50vh;
    margin: 24px auto;
    background-color: rgb(246, 246, 246);
    color: rgb(82, 82, 82);
    font-family: Roboto-Medium;
    padding-top: 20px;
  }
}
