.blog {
  text-align: center;
  padding-bottom: 20px;
  .blogHeading {
    color: rgb(161, 151, 37);
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 400;
  }
  .seprator {
    width: 30px;
    margin: auto;
  }
  .post {
    width: 60%;
    height: 40px;
    padding-top: 10px;
    background-color: rgb(246, 246, 246);
    margin: auto;
    color: rgb(82, 82, 82);
    font-family: Roboto-Medium;
  }
}
