.cartList {
  /* display: flex;
  flex-direction: row; */
  width: 70%;
  .cartListItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
