.intro {
  background-color: #f3e32b;
  text-align: center;
  padding: 50px;
  height: 50vh;

  .heading {
    font-family: Roboto-Black;
  }

  .separator {
    border-color: rgb(212, 200, 56);
    margin-bottom: 16px;
  }

  .endOfSection {
    border-color: rgb(212, 200, 56);
    border-bottom-width: 1px;
    width: 100%;
  }

  .mid {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .midblock {
      text-align: left;
      padding: 16px;
      display: flex;
      flex-direction: column;

      .subtext {
        color: rgb(71, 69, 56);
        margin-top: 16px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .intro {
    height: auto;

    .mid {
      flex-direction: column;
      align-items: flex-start;

      .midblock {
        padding: 8px;
      }
    }
  }
}
