.contact {
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .contactIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;

    .contactUs {
      color: rgb(161, 151, 37);
      font-family: Roboto-Black;
    }
  }

  .contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    .description {
      color: rgb(94, 94, 94);
      margin-top: 8px;
    }
  }
}
