.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-family: Cabin;
    color: #fafafa;
    font-weight: 500;

    .create {
      color: #974040;
    }
  }

  .options {
  }
}
