.topImage {
  width: 100vw;
  height: 80vh;
  filter: blur(2px);
}

.intro {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main {
    color: white;
    text-align: center;
    padding: 5px;
  }

  .exploreBtn {
    background-color: rgb(242, 228, 65);
    margin-top: 30px;
  }
}

.base {
  text-align: center;
  .baseText {
    color: rgb(161, 151, 37);
    height: 100%;
    padding-top: 50px;
  }
}
