.topImage {
  width: 100%;
  margin: auto;
  min-height: 80vh;
  background-image: linear-gradient(to bottom, rgba(53, 3, 3, 0.3) 20%, rgba(53, 3, 3, 0.3) 100%),
    url(../../assets/images/food-banner-img.jpg);
  background-blend-mode: initial;
  background-position: top;
  object-fit: cover;
  background-size: auto;
  background-repeat: no-repeat;

  .intro {
    position: absolute;
    top: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;

    .headingMain {
      font-family: Roboto-Black;
      text-align: center;
      font-size: 56px;
      letter-spacing: 1.5px;
      color: rgb(247, 247, 247);
    }

    .detailsMain {
      font-family: Roboto-Regular;
      margin-top: 8px;
      font-size: 22px;
      color: rgb(247, 247, 247);
      text-align: center;
    }

    .homeButton {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 12px;

      .exploreBtn {
        background-color: #feba10;
        font-size: 14px;
        margin-top: 32px;
        font-family: Roboto-Bold;
        color: rgb(26, 26, 24);
        border-radius: 4px;
        min-height: 56px;
        padding: 8px 32px;
        text-align: center;
        letter-spacing: 0.071em;

        &:hover {
          background-color: rgb(247, 247, 247);
        }
      }

      .kitchenBtn {
        background-color: #14ae5c;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .topImage {
    background-image: linear-gradient(to bottom, rgba(53, 3, 3, 0.3) 20%, rgba(53, 3, 3, 0.3) 100%),
      url(../../assets/images/food-banner-img-monitor.jpg);

    .intro {
      top: 16rem;

      .headingMain {
        font-size: 60px;
        letter-spacing: 1px;
        padding: 0 12px;
      }

      .homeButton {
        .exploreBtn {
          min-height: 48px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .topImage {
    background-image: linear-gradient(to bottom, rgba(53, 3, 3, 0.3) 20%, rgba(53, 3, 3, 0.3) 100%),
      url(../../assets/images/food-banner-img-mobile.jpg);

    .intro {
      top: 8rem;

      .headingMain {
        font-size: 48px;
        letter-spacing: 1px;
        padding: 0 12px;
      }

      .homeButton {
        .exploreBtn {
          min-height: 48px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .topImage {
    background-image: linear-gradient(to bottom, rgba(53, 3, 3, 0.3) 20%, rgba(53, 3, 3, 0.3) 100%),
      url(../../assets/images/food-banner-img-mobile.jpg);

    .intro {
      top: 6rem;

      .headingMain {
        font-size: 40px;
        letter-spacing: 1px;
        padding: 0 12px;
      }

      .detailsMain {
        font-size: 20px;
      }

      .homeButton {
        .exploreBtn {
          margin-top: 8px;
          min-height: 40px;
        }
      }
    }
  }
}
