.bannerContainer {
  background: #f6f6f6;

  .outerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .bannerContainer {
    .outerBox {
      flex-direction: column;
    }
  }
}
