.footer {
  background-color: black;
  color: rgb(169, 169, 169);
  height: 15vh;
  text-align: left;
  padding-top: 50px;
  padding-left: 10px;

  .copyright {
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    text-align: center;
  }
}
