.footer {
  background-color: black;
  color: rgb(169, 169, 169);
  text-align: center;
  padding: 50px;

  .copyright {
    font-size: 14px;
    font-weight: 400;

    .companyName {
      font-family: Roboto-Medium;
      color: #f3e32b;
    }
  }
}
