.testimony {
  text-align: center;

  .testimonyHead {
    font-family: Roboto-Black;
    color: rgb(161, 151, 37);
  }

  .testimonyGrid {
    width: 60%;

    .testimonialCard {
      border-radius: 40px;

      .testimonialMessage {
        display: flex;
        align-items: center;
        justify-content: center;

        .quotesStyle {
          width: 80px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .testimony {
    text-align: center;

    .testimonyHead {
      font-family: Roboto-Black;
      color: rgb(161, 151, 37);
    }

    .testimonyGrid {
      width: 90%;

      .testimonialCard {
        .testimonialMessage {
          .quotesStyle {
            width: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .testimony {
    text-align: center;

    .testimonyHead {
      font-family: Roboto-Black;
      color: rgb(161, 151, 37);
    }

    .testimonyGrid {
      width: 90%;

      .testimonialCard {
        .testimonialMessage {
          .quotesStyle {
            width: 40px;
          }
        }
      }
    }
  }
}
