.separator {
  width: 50px;
  margin-top: 24px;
  border: 0;
  border-bottom-width: 2px;
  border-style: solid;
  border-color: rgb(226, 226, 226);
}

.teamContainer {
  display: flex;
  align-items: center;
  margin: 24px;

  .memberImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: left;
  }

  .memberInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .memberName {
      font-family: Roboto-Medium;
      font-size: 20px;
    }

    .memberTitle {
      font-size: 16px;
      color: rgb(94, 94, 94);
      margin-bottom: 8px;
    }

    .memberDescription {
      font-size: 14px;
      text-align: left;
      margin: 8px 0;
    }

    .memberLinkedList {
      width: 40px;
      height: 40px;
      cursor: pointer;
      color: #0077b5;
    }
  }
}

.cartBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  padding: 2px 0px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);

  .addition {
    padding: 16px;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .teamContainer {
    flex-wrap: wrap;

    .memberImg {
      margin: auto;
      width: 240px;
      height: 240px;
    }
  }

  .cartBtn {
    height: 32px;

    .addition {
      padding: 10px;
    }
  }
}

.drawerContainer {
  .drawerList {
    padding: 0;

    .drawerListItem {
      padding: 0;

      .drawerListItemLink {
        color: #fafafa;
        font-family: Roboto-Medium;
        padding: 24px 0;
        text-decoration: none;
      }

      .drawerListItemLinkLight {
        color: #000000;
        font-family: Roboto-Medium;
        padding: 24px 0;
        text-decoration: none;
      }
    }
  }
}

.drawerMenu {
  color: #fafafa !important;

  .menuIcon {
    font-size: 2rem !important;
  }
}

.drawerMenuLight {
  .menuIcon {
    font-size: 2rem !important;
  }
}

.errorMessage {
  color: rgb(255, 43, 43);
  font-size: 12px;
  padding-top: 4px;
}

.loadingBar {
  color: rgb(0, 131, 0) !important;
  padding: 4px;
}

.emptyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
  margin: 24px 0;

  .textMessage {
    font-size: 20px;
    margin-top: 8px;
    color: rgb(112, 112, 112);
  }
}

.dataLoadingCircle {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.couponCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;

  .couponContent {
    font-family: Outfit;
    font-size: 12px;
    color: #feba10;

    .couponHead {
      font-family: Outfit-SemiBold;
      font-size: 14px;
      color: #434343;
    }
  }
}
