.dishCard {
  .cardMedia {
    height: 320px;
  }
  .cardContentArea {
    display: flex;
    justify-content: space-between;
    padding: 4px;

    &:last-child {
      padding-bottom: 8px;
    }

    .unitsLeft {
      color: #feba10;
      font-family: Outfit;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding: 4px;
    }

    .cardContentLeft {
      padding: 12px;
      flex: 2;

      .cardItem {
        display: flex;
        flex-direction: row;

        .cardFood {
          color: #1a1a1a;
          font-family: Outfit;
          font-size: 16.8px;
          font-style: normal;
          font-weight: 700;
          line-height: 25.2px; /* 150% */
          padding: 4px;
        }
        .cardRating {
          color: #1a1a1a;
          font-family: Outfit;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 21.6px; /* 180% */
          display: flex;
          align-items: center;
        }
      }
      .cardTiming {
        display: flex;
        flex-direction: row;

        .timing {
          padding: 1px 1px;
          display: flex;

          .cardClock {
            color: #393939;
            font-family: Outfit;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            display: flex;
            align-items: center;
            padding: 4px;
          }
        }
      }

      .cardAddress {
        color: #696969;
        font-family: Outfit;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 4px;
      }
    }

    .cardContentRight {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      .cardValue {
        padding: 8px;
        .cardPrice {
          color: #393939;
          text-align: right;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          display: flex;
          align-items: center;
        }
      }

      .cardButton {
        display: inline-flex;
        padding: 8px;
        align-items: flex-start;
        gap: 10px;

        border-radius: 4px;
        background: linear-gradient(136deg, #15ca6a 0%, #14ae5c 88.81%),
          linear-gradient(136deg, #4e96ff 0%, #4d8bff 88.81%), #fff;
      }

      .cartBtn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 2px 0px;
        background: #fff;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
      }
    }
  }
}

@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 600px) {
  .dishCard {
    border-radius: 1rem;

    .cardMedia {
      height: 12rem;
    }
    .cardContentArea {
      .cardContentLeft {
        padding: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .cardItem {
          flex-direction: column;
          .cardFood {
            font-size: 1rem;
          }
        }
        .cardAddress {
          font-size: 0.75rem;
        }
        .cardTiming {
          .timing {
            .cardClock {
              font-size: 0.5rem;
              font-weight: 400;
            }
          }
        }
      }

      .cardContentRight {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .cardRating {
          color: #1a1a1a;
          font-family: Outfit;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 21.6px; /* 180% */
          display: flex;
          align-items: center;
        }

        .cardValue {
          .cardPrice {
            font-size: 1.25rem;
          }
        }

        .cardButton {
          font-size: 0.75rem;
        }
      }
    }
  }
}
