.loginForm {
  width: fit-content;

  .phoneInput {
    display: flex;
    padding-top: 40px;

    .inputLabel {
      color: #696969;
      margin-left: 8px;
      font-family: Outfit;
    }

    .phoneInputArea {
      display: flex;
      flex-direction: row;
      align-items: center;

      .enterNo {

      }

      .sendOtp {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Outfit;
        color: #191919;
        font-size: 16px;
        margin: 8px;
        height: 56px;
        padding: 0 20px;
        border-radius: 8px;
        background: #feba10;

        /* shadow yellow */
        box-shadow: 0px 4px 20px 0px rgba(255, 202, 32, 0.25);

        .rightArrow {

        }
      }

      .otpInput {
        width: 270px;
        padding: 8px;
        .MuiOtpInput-TextField {
          background-color: #f6f6f6;
        }
      }
    }

    .errors {
      color: red;
      font-size: smaller;
      margin-left: 16px;
    }
  }
}

@media screen and (max-width: 600px) {
  .loginForm {
    .phoneInput {
      padding-top: 16px;

      .phoneInputArea {
        @media screen and (max-width: 380px) {
          width: 300px;
        }
        
        .enterNo {
          width: 240px;
        }
        .sendOtp {
          font-size: 14px;
          padding: 0 12px;

          .rightArrow {
            font-size: 1rem;
          }
        }

        .otpInput {
          width: 200px;
          gap: 12px;
        }
      }
    }
  }
}
