body {
  margin: auto;
  width: 100%;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Cabin-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin-Regular'), url(./assets/fonts/Cabin/Cabin-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Cabin-Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Cabin-Medium'), url(./assets/fonts/Cabin/Cabin-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Cabin-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: local('Cabin-SemiBold'), url(./assets/fonts/Cabin/Cabin-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Cabin-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Cabin-Bold'), url(./assets/fonts/Cabin/Cabin-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto-Light'), url(./assets/fonts/Roboto/Roboto-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto-Regular'), url(./assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto-Medium'), url(./assets/fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto-Bold'), url(./assets/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto-Black';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto-Black'), url(./assets/fonts/Roboto/Roboto-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: local('Outfit-SemiBold'), url(./assets/fonts/Outfit/Outfit-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: local('Outfit'), url(./assets/fonts/Outfit/Outfit-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(./assets/fonts/Lobster/Lobster-Regular.ttf) format('truetype');
}
