.mainSection {
  display: flex;
  padding: 2.5rem;
  align-items: center;
  /* flex-shrink: 0; */
  color: #feba10;
  background: #ececec;

  .chefsBox {
    min-width: 1200px;
    margin: auto;
    .popular {
      color: #191919;
      font-family: Outfit;
      font-size: 1.875rem;
      font-weight: 600;
      line-height: 120%;
    }
  }
}

@media screen and (max-width: 600px) {
  .mainSection {
    flex-direction: column;
    padding: 1.5rem;
  }
}
