.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  border-radius: 1.5rem;
  background: #fff;
  flex-shrink: 0;

  .foodModalTitle {
    display: flex;
    justify-content: space-between;

    .foodLable {
      color: #393939;
      font-family: Outfit;
      font-size: 30px;
      font-weight: 600;
    }
  }

  .modalDescription {
    width: 36rem;
    padding: 2rem 0;

    .modalDescriptionTitle {
      color: #393939;
      font-family: Outfit;
      font-size: 1.375rem;
      font-style: normal;
      font-weight: 500;
      line-height: 124%; /* 1.705rem */
    }

    .modalDescriptionSection {
      padding-top: 1.2rem;
      color: #696969;
      font-family: Outfit;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 400;
      line-height: 124%;
    }
  }

  .modalCategory {
    display: inline-flex;
    height: 2.375rem;
    padding: 0rem 0.5625rem;
    align-items: center;
    gap: 0.25rem;
    flex-shrink: 0;
    margin-top: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #fdc126;
    background: #fff;
    box-shadow: 0px 1px 2px 0px rgba(54, 54, 54, 0.06);
  }
}

@media screen and (max-width: 1400px) {
  .modalBox {
    .foodModalTitle {
      .foodLable {
      }
    }

    .modalDescription {
      .modalDescriptionTitle {
      }

      .modalDescriptionSection {
      }
    }

    .modalCategory {
    }
  }
}

@media screen and (max-width: 600px) {
  .modalBox {
    padding: 16px;

    .foodModalTitle {
      .foodLable {
        font-size: 24px;
      }
    }

    .modalDescription {
      width: 20rem;

      @media screen and (max-width: 400px) {
        width: 18rem;
      }
      padding: 1rem 0;

      .modalDescriptionTitle {
        font-size: 20px;
      }

      .modalDescriptionSection {
        padding-top: 1rem;
        font-size: 16px;
      }
    }

    .modalCategory {
      margin-top: 1rem;
    }
  }
}
